@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #5f9ea0;
}

header img {
    height: 90px;
}







 footer img {
    height: 3rem;
}
/*inicio inicio*/
.im-ini{
    margin: 20px 35px;
}
h1 {
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}
.contenedor h1 {
    color: wheat;
    font-size: 50px;
}
.contenedor video {
    width:auto;
}
.contain-im {
    padding: 1em;
    float: left;

  
}
.im{
margin: 1em;
padding: 1em;
float: left;


}
.contain-im h1{
    color: wheat;
    font-size: 50px;
    
}
#car-ini {
    margin: 30px 35px;
}

 /*fin inicio*/
 

footer * {
   
    display: inline;
    
}

footer li {
    margin: 20px;
    padding: 30px 25px;
   
}

footer li a {
    color: black;
    text-decoration: none;
   
}
footer p {
    background-color:transparent;
}

/*product*/
.gallery {
    padding: 80px 0px;
}
.gallery img {
    max-width: 100%;
}
.gallery img {
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0,0.3);
    cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100%;

}
