footer {
    display: inline;
    border: 1px solid black;
    list-style: none;

    img {
        height: 50px;
    }
    ul {
        list-style: none;
    }
    li {
        margin: 2px;
        padding: 5px 25px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    p {
        background-color:transparent;
        padding: 5px 10px;
       
    }
}